<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/login.css') }}">
    <script src="https://kit.fontawesome.com/03c9574a2d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <div class="button-box">
                <div id = "elegir"></div>
                <button type = "button" class = "toggle-btn" onclick = "login()">Iniciar sesión</button>
                <button type = "button" class = "toggle-btn" onclick = "registrar()">Registrar</button>
            </div>

            <div class="redes-sociales">
                <i class="fa fa-google"></i>
                <i class="fa fa-linkedin"></i>
            </div>

            <form action = "submit" class = "input-group" id = "login">
                <input type="email" class = "input-field" placeholder = "Email" name = "email" id = "email" required>
                <input type="password" class = "input-field" placeholder = "Contraseña" name = "password" id = "password" required>
                <input type="checkbox" class = "check-box"><span>Recordar contraseña</span>
                <button type = "submit" class = "submit-btn">Acceder</button>
            </form>

            <form  action = "submit" class = "input-group" id = "registrar" >
                <input  type = "text" class = "input-field" placeholder = "Nombre de usuario" name = "nombUsuario" id = "nombUsuario"  required>
                <input  type = "email" class = "input-field" placeholder = "Correo" name = "emailRegister" id = "emailRegister" required>
                <input  type = "password" class = "input-field" placeholder = "Contraseña" name = "passwordRegister" id = "passwordRegister" required>
                <input  type = "checkbox" class = "check-box"><span>Aceptar términos y condiciones</span>
                <button type = "submit" class = "submit-btn">Registrarme</button>
            </form>
        </div>
    </div>
        
    <script src = "https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src = "https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script src = "https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
    <script src = "js/authentication.js"></script>
</body>
</html>