<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="css/centro.css">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/03c9574a2d.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" id = "check">
    <!--header area start-->
    <header>
        <label for = "check">
            <i class = "fas fa-bars" id = "sidebar_btn"></i>
        </label>
        <div class = "left_area">
            <h3>Blockchain <span>Diplomas</span></h3>
        </div>

        <div class = "right_area">

            <button type = "button" class = "logout_btn" onclick = "logout()">Cerrar sesión</a>
        
        </div>
    </header>

    <!--header area end-->

    <!--sidebar start-->
    <div class="sidebar">
        <center>
            <img src="img/logo-new.jpg" class = "profile_image" alt="">
        </center>
        <a href="registrar_curso"><i class="fas fa-robot"></i><span>Cursos</span></a>
        <a href="/registrar_alumno"><i class="fas fa-users"></i><span>Alumnos</span></a>
        <a href="/registrar_diploma"><i class="fas fa-book"></i><span>Diplomas</span></a>
        <a href="/integrity"><i class="fas fa-cubes"></i><span>Blockchain</span></a>
    </div>

    <!--sidebar end-->

    <div class = "content">
        
    </div>
    <script src = "https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src = "https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script src = "js/utils.js"></script>
</body>
</html>